<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Contacts:</h1>
    <ul>
      <% if (contacts.length) { %> <% contacts.forEach(({ link, name }) => { %>
      <li>
        <a href="<%= link %>"><%= name %></a>
      </li>
      <% }) %> <% } %>
      <!-- <li><a href="http://youtube.com/YauhenKavalchuk">YouTube</a></li>
      <li><a href="http://github.com/YauhenKavalchuk">Twitter</a></li>
      <li><a href="http://twitter.com/YauhenKavalchuk">GitHub</a></li> -->
    </ul>
  </body>
</html>
